[submodule "coding-theory"]
	path = coding-theory
    url = git:git://github.com/BubbleNeumann/University-tasks.git
[submodule "ct"]
	path = ct
	url = https://github.com/BubbleNeumann/University-tasks.git
